.compare_modal {
  position: fixed;
  bottom: 0%;
  background-color: #fff;
  width: 100%;
  padding: 2em 8em;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: 0.4s ease-in-out;
}

.compare_img__section {
  position: relative;
  width: 100px;
}
.compare_img {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 1em;
}
.compare_img__section:hover .compare_img {
  opacity: 0.2;
}
.compare_img__section:hover .remove_product {
  display: block;
}
.remove_product {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  cursor: pointer;
}
.compare_card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #fff;
}
.compare_key__pair {
  border-bottom: 1px solid rgb(223, 223, 223);
  border-left: 1px solid rgb(223, 223, 223);
  border-right: 1px solid rgb(223, 223, 223);
  padding: 1em;
}
