.home {
  background-attachment: fixed;
  background-image: url(/images/home-bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}
.offer_text {
  font-size: 6.6em;
  font-weight: 700;
}
.category_card__img {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 1.5em;
}
@media screen and (max-width: 1175px) {
  .category_div {
    flex-wrap: wrap;
  }
  .category_card__img {
    max-width: 300px;
  }
}

@media screen and (min-width: 512px) and (max-width: 925px) {
  .category_card__img {
    max-width: 230px;
  }
}
@media screen and (min-width: 0px) and (max-width: 512px) {
  .category_card__img {
    max-width: 100%;
  }
}
