.filters {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2em;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  height: 75em;
}
.checkbox {
  width: 100%;
  max-width: 15px;
  min-width: 15px;
  height: 20px;
}
.products {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2em;
}
.product_card {
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  margin-bottom: 2em;
  color: black;
  padding: 1em;
  border-radius: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s ease-in;
}
.product_card:hover {
  transform: scale(1.05);
}
.product_img {
  border-radius: 1.5em;
  width: 100%;
  aspect-ratio: 0.8;
}
